In [4]:
import MetaTrader5 as mt5
import pandas as pd

In [2]:
mt5.initialize(
            path= "C:/Program Files/MetaTrader 5/terminal64.exe",
            login= 88650233,
            password= "AaRdVv_4",
            server= "MetaQuotes-Demo",
            timeout= 60000,
            portable= False)

True

In [ ]:
symbol = "EURUSD" #simbolo
tf = mt5.TIMEFRAME_H1 #fecha apertura
from_position = 1 #desde cual vela vamos a imprimir (la 0 es las mas moderna, la 1 una mas antigua, etc)
num_bars = 1 #numero de velas que vamos a imprimir


bars = pd.DataFrame(mt5.copy_rates_from_pos(
        symbol,       
        tf,    
        from_position,    
        num_bars       
    ))
bars['time'] = pd.to_datetime(bars['time'], unit='s')
bars

,time,open,high,low,close,tick_volume,spread,real_volume
0,2024-12-06 23:00:00,1.05635,1.05694,1.05614,1.05665,672,4,0